* {
	box-sizing: border-box;
}
body {
	color: white;
	font-family: "Gill Sans", Verdana, Arial, "MS Trebuchet", sans-serif;
	background: 
      radial-gradient(circle at 50% 0,
        rgba(255,0,0,.5),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.5),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.5),
        rgba(0,255,0,0) 70.71%) beige;
}
main {
	margin: 0 5%;
}
nav ul {
	width: 100%;
	background-color: #333;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
nav li {
	float: left;
}
nav a {
	display: block;
	padding: 20px 32px;
	color: white;
}
nav a:hover {
	background-color: white;
	color: #333;
}
h1 {
	font-family: cursive;
	text-align: center;
}
figure {
	/* need to be narrower than any image to align image and caption */
	display: table;
	padding: 0;
	margin: 5% 8%;
	border-radius: 5px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,5.2);
	display: inline-block;
	transition: 0.5s;
}
/* border radius should be same as that of figure */
img {
	border-radius: 5px 5px 0 0; 
	display: table-row;
}
figure:hover {
	transition: 0.5s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,5.2);
}
figcaption {
	display: table-caption;
	width: 100%;

	text-shadow: 1px 1px 2px black;
	text-align: center;
}
label, input, textarea {
	display: block;
}
footer {
	text-align: center;
	padding: 40px;
}
